@import "src/_variables.scss";

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins';
  padding: 0 5%;
  height: 50px;
  background: #FFF;

  a {
    color: $secondary;
    text-decoration: none;
  }

  .links {
    a {
      margin: 0 3%;
      color: $secondary;
      text-decoration: none;
      font-weight: 400;
    }
  }
}
